<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nsd-plugin"
	version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NSDPlugin</name>
    <js-module name="NSDPlugin" src="www/NSDPlugin.js">
		<clobbers target="cordova.plugins.NSDPlugin"/>
	</js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NSDPlugin">
				<param name="android-package" value="cordova-plugin-nsd-plugin.NSDPlugin"/>
			</feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/NSDPlugin.java" target-dir="src/cordova-plugin-nsd-plugin/NSDPlugin"/>
	</platform>
</plugin>
